{{define "content"}}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-6 grid-margin stretch-card m-auto">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title" style="font-size: 22px !important;">{{if .Category.ID}} Edit {{else}}Add
                            {{end}} Category</h4>
                            <form {{if .Category.ID}} id="updateCategory" {{else}} id="addCategory" {{end}}
                                class="forms-sample" method="post" enctype="multipart/form-data">
                                <!-- Hidden category Id for edit -->
                                {{if .Category.ID}}
                                <input type="hidden" name="categoryId" id="categoryId" value="{{.Category.ID}}">
                                {{end}}
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="title">Title</label>
                                            <input type="text" class="form-control" name="title" id="title"
                                                placeholder="Enter Title" value="{{.Category.Title}}">
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <textarea rows="3" class="form-control" name="description" id="desc"
                                                placeholder="Enter  Description">{{.Category.Description}}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12" style="text-align: end;">
                                        <button type="submit" class="btn btn-primary mr-2 submtBtn" id="submtBtn" name="submit"> {{if
                                            .Category.ID}}Update{{else}}Submit{{end}}</button>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    tinymce.init({
        selector: 'textarea#description',
    });
</script>
{{end}}